body {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      background-image: url("https://aicdn.picsart.com/18c31ae5-c7ec-41cb-9840-44165d489bf9.jpg"); 
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; 
      background-attachment: fixed; 
      color: white; 

}


    h1 {
      font-family: Poppins;
      font-size: 2.5rem;
      margin-top: 60px;
      letter-spacing: 1px;
    }
    .h2-name{
        font-family: Poppins;
        font-size: 1.8rem;
        margin-top: 15px;
        letter-spacing: 1px;
        text-decoration: none;
    }
    
    .member-role {
      font-family: myanmar3;
      color: white;
      text-decoration: none;
    }


    .team-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 60px;
      margin-top: 90px;
      padding-bottom: 80px;
    }


    .team-card {
      background-color: #111;
      border-radius: 20px;
      box-shadow: 0 6px 20px rgba(255,255,255,0.15);
      width: 250px;
      height: 340px;
      padding: 20px 15px;
    }

    .team-card img {
      width: 180px;
      height: 180px;
      border-radius: 15px;
      object-fit: center;
      box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    }

    .team-card:hover{
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
    .social-icons {
      display: block;
      justify-content: center;
      gap: 15px;
      margin-top: 15px;
    }
  
    .social-icons a {
      color: white;
      font-size: 1.4rem;
      margin-top: 30px;
      transition: color 0.3s ease;
      text-decoration: none;
    }

    .social-icons a.facebook:hover {
      color: #0866FF; 
    }

    .social-icons a.instagram:hover {
      color: #e4405f
    }

    .social-icons a.linkedin:hover {
      color: #0077b5; 
    }


    .social-icons a.whatsapp:hover {
      color: #25D366; 
    }

    
    @media (max-width: 768px) {
      .team-container {
        flex-direction: column;
        gap: 40px;
      }
    }
